In [1]:
#โจทย์คือหาหนังที่ทำกำไร และ หาจำนวนกลุ่มผูชม
import pandas as pd
        
movies_df = pd.read_csv('IMDb movies .csv', dtype={'year':int})
movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [2]:
movies_df.info() #ดูข้อมูล

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int32
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15094 non-null  object
 18  worlwide_gross_income  29892 non-null  object
 19  metascore              12722 non-null  float64
 20  reviews_from_users     74196 non-null  float64
 21  reviews_from_critics   70286 non-null  float64
dtypes: float64(4), int32(1), int64(2), object(15)
memory usage: 13.3+ MB

In [3]:
new_movies_df = movies_df[movies_df['year'] >= 2015]
#กรองข้อมูล 5 ปีหลัง 2015 - 2019 (ข้อมูลล่าสุด 2019) เพื่อดูว่าหนังที่ทำกำไร 5 ปีหลังสุดเป็นหนังประเภทใด
new_movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
15090,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA","English, German",Orson Welles,...,"John Huston, Oja Kodar, Peter Bogdanovich, Sus...",A Hollywood director emerges from semi-exile w...,6.9,5014,NaN,NaN,NaN,78.0,70.0,88.0
20324,tt0085953,Mo tai,Mo tai,2019,2019-10-22,Horror,84,Hong Kong,Cantonese,Hung-Chuen Lau,...,"Eddie Chan, Yung-Chang Chin, Pak-Kwong Ho, Men...",A woman becomes possessed and dies after a mon...,6.2,262,NaN,NaN,NaN,NaN,16.0,14.0
24705,tt0100275,La Telenovela Errante,La Telenovela Errante,2017,2018-09-06,"Comedy, Drama, Fantasy",80,Chile,Spanish,"Raoul Ruiz, Valeria Sarmiento",...,"Luis Alarcón, Patricia Rivadeneira, Francisco ...",The film revolves around the concept of soap o...,6.6,121,NaN,$ 3624,$ 3624,NaN,NaN,26.0
31606,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,2017-04-22,"Animation, Adventure, Comedy",83,Canada,English,Anthony Harrison,...,"Anthony Harrison, C. Ernst Harth, Ellie Harvie...",Simple-minded Joseph Briteman breaks a golden ...,8.6,264,NaN,NaN,NaN,NaN,2.0,NaN
40529,tt0315642,Wazir,Wazir,2016,2016-01-08,"Action, Crime, Drama",103,India,Hindi,Bejoy Nambiar,...,"Amitabh Bachchan, Farhan Akhtar, Aditi Rao Hyd...",A grief-stricken cop and an amputee grandmaste...,7.1,15911,NaN,$ 1124045,$ 5633588,NaN,103.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [4]:
filtered_movies_df = new_movies_df[new_movies_df['budget'].notna() & new_movies_df['worlwide_gross_income'].notna()][['imdb_title_id', 'budget', 'worlwide_gross_income']]
#กรองข้อมูล column budget,worlwide_gross_income ที่ไม่เอา row ที่มี missing values โดยใช้ .notna()
filtered_movies_df

      imdb_title_id        budget worlwide_gross_income
42553     tt0369610   $ 150000000          $ 1670400637
43345     tt0385887    $ 26000000             $ 9205026
45409     tt0437086   $ 170000000           $ 404852543
45578     tt0441881  AUD 35000000             $ 2034844
45644     tt0443533  EUR 15000000              $ 492272
...             ...           ...                   ...
81234     tt9799992     $ 1200000              $ 171229
81261     tt9878242  INR 30000000              $ 105932
81264     tt9894394  MYR 20000000               $ 83857
81267     tt9900782     $ 6000000              $ 420126
81269     tt9905412   INR 4000000                $ 4791

[2245 rows x 3 columns]

In [5]:
filtered_movies_df1 = filtered_movies_df['budget'].apply(lambda m: m.split()[0]).unique()
#ดูจำนวนสกุลเงินทั้งหมดที่ไม่ซ้ำกัน
filtered_movies_df1

array(['$', 'AUD', 'EUR', 'EGP', 'RUR', 'MYR', 'TRL', 'ISK', 'CNY', 'GBP',
       'HUF', 'PLN', 'BRL', 'NOK', 'INR', 'HKD', 'CZK', 'RON', 'SEK',
       'DKK', 'CAD', 'ARS', 'UAH', 'IRR', 'NZD', 'KRW', 'SGD', 'DOP',
       'JPY', 'ILS', 'MXN', 'PHP', 'AMD', 'PKR', 'IDR', 'ZAR', 'BDT',
       'THB', 'AED'], dtype=object)

In [6]:
filtered_movies_df = filtered_movies_df[filtered_movies_df['budget'].str.slice(stop=1) == '$']
#ตัดขอมูลในตำแหน่งที่ 1 เป็นต้นไปโดยเอาเฉพาะข้อความที่แปลงมาที่มีค่า = '$' เท่านั้น
filtered_movies_df

      imdb_title_id       budget worlwide_gross_income
42553     tt0369610  $ 150000000          $ 1670400637
43345     tt0385887   $ 26000000             $ 9205026
45409     tt0437086  $ 170000000           $ 404852543
45818     tt0448115  $ 100000000           $ 364571656
45978     tt0451279  $ 149000000           $ 821847012
...             ...          ...                   ...
80946     tt9134216   $ 29900000            $ 21788746
80974     tt9176136     $ 986000               $ 36721
81059     tt9354944    $ 5000000             $ 7257918
81234     tt9799992    $ 1200000              $ 171229
81267     tt9900782    $ 6000000              $ 420126

[1327 rows x 3 columns]

In [7]:
filtered_movies_df['profit'] = filtered_movies_df['worlwide_gross_income'].apply(lambda m : int(m.split()[1])) - filtered_movies_df['budget'].apply(lambda m : int(m.split()[1]))
#แปลงค่า column ในตำแหน่งที่ 1 เป็นตัวเลข
#หากำไรโดยนำ 'worlwide_gross_income' - 'budget' 
filtered_movies_df

C:\Users\ADMINS\AppData\Local\Temp\ipykernel_20340\2588820757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_movies_df['profit'] = filtered_movies_df['worlwide_gross_income'].apply(lambda m : int(m.split()[1])) - filtered_movies_df['budget'].apply(lambda m : int(m.split()[1]))

      imdb_title_id       budget worlwide_gross_income      profit
42553     tt0369610  $ 150000000          $ 1670400637  1520400637
43345     tt0385887   $ 26000000             $ 9205026   -16794974
45409     tt0437086  $ 170000000           $ 404852543   234852543
45818     tt0448115  $ 100000000           $ 364571656   264571656
45978     tt0451279  $ 149000000           $ 821847012   672847012
...             ...          ...                   ...         ...
80946     tt9134216   $ 29900000            $ 21788746    -8111254
80974     tt9176136     $ 986000               $ 36721     -949279
81059     tt9354944    $ 5000000             $ 7257918     2257918
81234     tt9799992    $ 1200000              $ 171229    -1028771
81267     tt9900782    $ 6000000              $ 420126    -5579874

[1327 rows x 4 columns]

In [17]:
filtered_movies_df[filtered_movies_df['profit'] > 0] 

#เลือกหนังที่ทำกำไร

      imdb_title_id       budget worlwide_gross_income      profit
42553     tt0369610  $ 150000000          $ 1670400637  1520400637
45409     tt0437086  $ 170000000           $ 404852543   234852543
45818     tt0448115  $ 100000000           $ 364571656   264571656
45978     tt0451279  $ 149000000           $ 821847012   672847012
47057     tt0475290   $ 22000000            $ 63647656    41647656
...             ...          ...                   ...         ...
80739     tt8866064      $ 33000               $ 52238       19238
80858     tt9024106    $ 6000000            $ 19320481    13320481
80869     tt9034290         $ 21             $ 1289283     1289262
80872     tt9037222    $ 1200000             $ 2708622     1508622
81059     tt9354944    $ 5000000             $ 7257918     2257918

[724 rows x 4 columns]

In [9]:
selected_ids = filtered_movies_df[filtered_movies_df['profit'] > 0]['imdb_title_id'] #เลือก id หนังที่ทำกำไร
selected_ids

42553    tt0369610
45409    tt0437086
45818    tt0448115
45978    tt0451279
47057    tt0475290
           ...
80739    tt8866064
80858    tt9024106
80869    tt9034290
80872    tt9037222
81059    tt9354944
Name: imdb_title_id, Length: 724, dtype: object

In [10]:
popular_movie_df = movies_df.merge(selected_ids)
popular_movie_df['genre'] = popular_movie_df['genre'].apply(lambda m: m.split(', ')) #แยกข้อความใน 'genre' 
popular_movie_df = popular_movie_df.explode('genre') #แยกข้อความที่มาจากจากบรรทัดด้านบนมาเป็น row
popular_movie_df.groupby('genre')['votes'].sum() #รวม column ที่ชื่อว่า ('genre')['votes'] และรวมผลโหวต(.sum)

genre
Action       35613101
Adventure    32953094
Animation     5274024
Biography     6979346
Comedy       19118624
Crime         8876542
Drama        28520859
Family        3050771
Fantasy       7765014
History       2747680
Horror        6937687
Music         1712528
Musical        524983
Mystery       6358015
Romance       3884439
Sci-Fi       15447500
Sport          800577
Thriller     10948154
War            134425
Western        172758
Name: votes, dtype: int64

In [11]:
ratings_df = pd.read_csv('IMDb ratings.csv')
ratings_df.columns #ดูว่ามี column ขื่ออะไรบ้างในไฟล์ ('IMDb ratings.csv')

Index(['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6',
       'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [12]:
ratings_df.merge(selected_ids, on='imdb_title_id') 
#merge เลขไอดีหนังที่ทำกำไร กับตารางเข้าด้วยกันโดยใช้ column 'imdb_title_id' ที่เหมือนกัน

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0369610,7.0,550189,7.1,7.0,50664,50257,122458,161733,90315,...,7.2,28277.0,7.3,5656.0,6.8,762.0,7.1,71157.0,6.8,211733.0
1,tt0437086,7.4,171427,7.6,8.0,24708,24425,47028,41336,19196,...,7.3,5446.0,7.5,1235.0,7.0,337.0,7.3,17737.0,7.3,66739.0
2,tt0448115,7.1,191155,7.2,7.0,18950,18448,47429,56235,28301,...,7.2,6237.0,7.3,1423.0,6.9,401.0,7.4,22410.0,6.9,68150.0
3,tt0451279,7.4,507173,7.6,8.0,75396,76448,132992,114923,54468,...,7.6,25298.0,7.8,6310.0,7.0,695.0,7.7,64938.0,7.2,181769.0
4,tt0475290,6.3,114278,6.2,6.0,2856,4310,15367,31385,28940,...,6.1,6231.0,6.2,1901.0,5.9,524.0,6.4,17833.0,6.3,52747.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,tt8866064,8.9,383,9.3,10.0,306,29,16,8,2,...,8.7,24.0,10.0,1.0,4.2,4.0,8.0,50.0,8.0,140.0
720,tt9024106,5.8,10783,7.6,10.0,6410,693,534,334,197,...,5.1,516.0,7.0,495.0,4.1,66.0,6.1,2376.0,4.8,2524.0
721,tt9034290,6.6,1572,7.0,7.0,395,106,213,269,224,...,6.7,62.0,6.1,5.0,4.7,7.0,5.5,20.0,6.3,685.0
722,tt9037222,5.4,250,5.5,6.0,21,11,20,40,46,...,6.5,8.0,1.0,1.0,3.7,6.0,5.5,2.0,5.2,120.0
723,tt9354944,6.6,3674,7.4,8.0,503,687,843,914,244,...,6.0,65.0,6.1,32.0,4.6,29.0,5.7,514.0,5.6,186.0

In [13]:
ratings_df.merge(selected_ids, on='imdb_title_id').sum()
#ใช้ .sum() เพื่อดูรวมของผู้โหวตในกลุ่มต่างๆ

imdb_title_id                tt0369610tt0437086tt0448115tt0451279tt0475290t...
weighted_average_vote                                                   4619.2
total_votes                                                           70289736
mean_vote                                                               4756.4
median_vote                                                             4831.5
votes_10                                                               7927351
votes_9                                                                8364759
votes_8                                                               15592672
votes_7                                                               16811354
votes_6                                                               10510127
votes_5                                                                5082649
votes_4                                                                2333753
votes_3                                                                1297038
votes_2                                                                 823083
votes_1                                                                1546950
allgenders_0age_avg_vote                                                4522.5
allgenders_0age_votes                                                 153832.0
allgenders_18age_avg_vote                                               4674.7
allgenders_18age_votes                                              18558713.0
allgenders_30age_avg_vote                                               4543.7
allgenders_30age_votes                                              22657715.0
allgenders_45age_avg_vote                                               4557.2
allgenders_45age_votes                                               5651048.0
males_allages_avg_vote                                                  4557.7
males_allages_votes                                                 41327877.0
males_0age_avg_vote                                                     4339.2
males_0age_votes                                                      103887.0
males_18age_avg_vote                                                    4618.7
males_18age_votes                                                   14013357.0
males_30age_avg_vote                                                    4501.8
males_30age_votes                                                   18583645.0
males_45age_avg_vote                                                    4520.4
males_45age_votes                                                    4639255.0
females_allages_avg_vote                                                4783.6
females_allages_votes                                                9713399.0
females_0age_avg_vote                                                   4488.2
females_0age_votes                                                     29345.0
females_18age_avg_vote                                                  4805.3
females_18age_votes                                                  4074213.0
females_30age_avg_vote                                                  4714.2
females_30age_votes                                                  3668614.0
females_45age_avg_vote                                                  4767.0
females_45age_votes                                                   890758.0
top1000_voters_rating                                                   4127.3
top1000_voters_votes                                                  206421.0
us_voters_rating                                                        4644.6
us_voters_votes                                                      8466064.0
non_us_voters_rating                                                    4533.0
non_us_voters_votes                                                 28004716.0
dtype: object